In [4]:
import os, requests, bs4, re, collections
import lxml
import warnings; warnings.filterwarnings("ignore")
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [5]:
table_movie = pd.DataFrame(columns = ["Titre","Année", "Durée","Genre", "image"])
Titre = []
Année = []
Durée = []
Genre = []
Image = []
x = 0
for loop in range(200):
    url = "https://www.imdb.com/search/title/?title_type=feature&primary_language=fr&start=" + str(x) + "&ref_=adv_nxt"
    url_response = requests.get(url)
    url_response.status_code
    soup = BeautifulSoup(url_response.content) 
    movies = soup.find_all(name= "div", class_= "lister-item mode-advanced")
    for index, a_movie in enumerate(movies):
        tmp_titre = a_movie.find(name = "h3").get_text()
        tmp_année = a_movie.find(name = "span", class_="lister-item-year text-muted unbold").get_text()
        try:
            tmp_genre = a_movie.find(name = "span", class_="genre").get_text() 
        except:
            tmp_genre = ' '
        try :
            tmp_durée = a_movie.find(name = "span", class_="runtime").get_text() 
        except :
            tmp_durée = "Grenots"
        Titre.append(tmp_titre)
        Année.append(tmp_année)
        Durée.append(tmp_durée)
        Genre.append(tmp_genre)        

        
    picture = soup.find_all(name= "img")
    for index, a_movie in enumerate(picture):
        Image.append(a_movie)
    x += 50

In [6]:
table_movie["Titre"] = Titre
table_movie["Année"]=  Année
table_movie["Durée"]= Durée
table_movie["Genre"]= Genre
table_movie["image"] = Image

In [7]:
table_movie.head()

,Titre,Année,Durée,Genre,image
0,\n1.\nLa famille Bélier\n(2014)\n,(2014),106 min,"\nComedy, Drama, Music",[]
1,\n2.\nTitane\n(2021)\n,(2021),108 min,"\nDrama, Horror, Sci-Fi",[]
2,\n3.\nBenedetta\n(2021)\n,(2021),131 min,"\nBiography, Drama, History",[]
3,\n4.\nLa Vie d'Adèle\n(2013)\n,(2013),180 min,"\nDrama, Romance",[]
4,\n5.\nIrréversible\n(2002)\n,(2002),97 min,"\nCrime, Drama, Mystery",[]

In [8]:
clean = table_movie["Titre"].values.tolist()
for i in range(len(clean)):
    clean[i] = clean[i][4:len(clean[i])-8]
    clean[i] = clean[i].replace(".", "")
    clean[i] = clean[i].replace("\n", "")
table_movie["Titre"] = clean

In [9]:
clean = table_movie["Année"].values.tolist()
for i in range(len(clean)):
    try : 
        clean[i] = clean[i].replace("(", "")
        clean[i] = clean[i].replace(")", "")
        clean[i] = clean[i].repalce("I", "")
        clean[i] = clean[i].replace("V", "")
        clean[i] = clean[i].repalce(" ", "")
    except:
        i = i 
table_movie["Année"] = clean

In [10]:
clean = table_movie["Durée"].values.tolist()
for i in range(len(clean)):
    try :
        clean[i] = clean[i].replace("min", "")
        clean[i] = int(clean[i])
    except:
        clean[i] = 0
table_movie["Durée"] = clean

In [27]:
clean = table_movie["Genre"].values.tolist()
for i in range(len(clean)):
    clean[i] = clean[i].replace("\n", "")

table_movie["Genre"] = clean

In [ ]:
clean = table_movie["image"].values.tolist()
x = 0

for i in range(len(clean)):
    clean[i] = clean[i].replace('height', "")
    clean[i] = clean[i][68:-14]

    while clean[i][x] != "h"  : 
        x += 1
    clean[i] = clean[i][x:]
    x = 0
    if clean[i][1] != "t":
        clean[i] = clean[i].replace('h', "", 1)
        while clean[i][x] != "h"  : 
            x += 1
        clean[i] = clean[i][x:]
    clean[i] = clean[i].replace('" src="https://m.media-amazon.com/images/S/sash/4FyxwxECzL-U1J8.png', "")   
table_movie["image"]  = clean

In [30]:
table_movie.head()

,Titre,Année,Durée,Genre,image
0,Sans répit,2022,95,"Action, Crime, Thriller",https://m.media-amazon.com/images/M/MV5BZjQyMT...
1,Benedetta,2021,131,"Biography, Drama, History",https://m.media-amazon.com/images/M/MV5BNGRiMm...
2,Titane,2021,108,"Drama, Horror, Sci-Fi",https://m.media-amazon.com/images/M/MV5BNGJlMT...
3,Les exploits d'un jeune don juan,1986,95,Comedy,https://m.media-amazon.com/images/M/MV5BNjJiYW...
4,La Vie d'Adèle,2013,180,"Drama, Romance",https://m.media-amazon.com/images/M/MV5BMTQ5NT...

In [ ]:
#table_movie.to_csv("clean_data.csv")